<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="DotNetBrowser" culture="neutral" publicKeyToken="b0b5aaca9c95c84e"/>
        <codeBase version="1.8.1.0" href="../../../../Library/DotNetBrowser.dll"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DotNetBrowser.Chromium" culture="neutral" publicKeyToken="b0b5aaca9c95c84e"/>
        <codeBase version="1.8.1.0" href="../../../../Library/DotNetBrowser.Chromium.dll"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>